/* Font and Background Colors */
body{
    font-family: "Monaco", monospace;
    color: whitesmoke; 
    height: 100%;
    background-image: linear-gradient(to bottom, #000000, #6b3f9c);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* Top Bar Customizations */
.top-bar{
    overflow: hidden; 
    background-color: black;
    font-family: "Ludica Console", monospace;
    position: sticky;
    width: 100%; 
    top: 0;  
    margin-top: 5px; 
    margin-bottom: 5px;  
    z-index:1; 
}

.top-bar a:hover {
    background-color: #e6cdf7;
}

.top-bar a{  
    color: whitesmoke; 
    text-align: center;  
    font-size: 18px;
}

.top-bar a.right{
    float: right;
    padding: 14px 16px;
}

.top-bar a.left{
    float: left; 
    padding: 14px 16px; 
}

.top-bar-icons{
    width: 16px; 
    height: 16px; 
}

/* Link Customizations */
a:link, a:visited, a:active{
    text-decoration: none;
}

/* Main Text */
.main{
    display: flex; 
    margin: 0; 
    justify-content: center; 
}

/* Profile-picture */
.profile-picture {
    border-radius: 2px;
    width: 50%;
    height: 100%;
    box-shadow: 0 4px 6px 0 rgba(200, 209, 216, 0.10);
    transition: all ease-in-out .35s;
    flex: 1; 
    z-index: 0; 
}

.profile-picture:hover {
    box-shadow: 0 8px 12px 0 rgba(255, 255, 255, 0.25);
}

.scroll{
    display: flex;      
    justify-content: right;
    color: lightgray; 
    opacity: 0.5;
}

/* Skill List */
.skill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    gap: 10px
}

.skill {
    border-radius: 10px;
    border: 3px solid #dfa7ff;
    background-color: #dfa7ff;
    padding: 5px;
}

/* Introduction Text */
.intro{
    flex: 1; 
    padding: 20px 100px;
    text-align: left;  
}

h1{
    font-size: 110px;
}

h2{
    font-size: 70px; 
}

h3{
    font-size: 30px;
}

h4{
    font-size: 18px; 
}

/* Typing Container */
.typing-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: whitesmoke;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

/* About me information */
.row2 {
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px; 
    justify-content: center;
}

.about-me{
    display: block;
    width: 70%; 
    height: auto; 
    justify-content: center;
    text-align: center;  
}

.about-me-header{
    font-size: 30px;
}

.about-me-text{
    font-size: 18px; 
}

div.coming-soon{
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    font-size: 70px; 
}

.contact-list{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 15px; 
}

.contact-list a:visited{
    color: whitesmoke;
    text-decoration: none; 
}

div.pad{
    padding-top: 10%;
}
